ModelDataTRH/RepositoryWebServiceTRH/Service References/DatosEntreEmpresasContext/DatosEntreEmpresas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/DatosEntreEmpresas" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/DatosEntreEmpresas" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/DatosEntreEmpresas" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="GetInventarioCosteUnitario">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="noProducto" type="string" />
            <element minOccurs="1" maxOccurs="1" name="almacen" type="string" />
            <element minOccurs="1" maxOccurs="1" name="costeUnitario" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="inventario" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="GetInventarioCosteUnitario_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="costeUnitario" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="inventario" type="decimal" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="GetInventarioCosteUnitario">
    <part name="parameters" element="tns:GetInventarioCosteUnitario" />
  </message>
  <message name="GetInventarioCosteUnitario_Result">
    <part name="parameters" element="tns:GetInventarioCosteUnitario_Result" />
  </message>
  <portType name="DatosEntreEmpresas_Port">
    <operation name="GetInventarioCosteUnitario">
      <input name="GetInventarioCosteUnitario" message="tns:GetInventarioCosteUnitario" />
      <output name="GetInventarioCosteUnitario_Result" message="tns:GetInventarioCosteUnitario_Result" />
    </operation>
  </portType>
  <binding name="DatosEntreEmpresas_Binding" type="tns:DatosEntreEmpresas_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="GetInventarioCosteUnitario">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/DatosEntreEmpresas:GetInventarioCosteUnitario" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetInventarioCosteUnitario">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetInventarioCosteUnitario_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="DatosEntreEmpresas">
    <port name="DatosEntreEmpresas_Port" binding="tns:DatosEntreEmpresas_Binding">
      <address location="http://intranet.trh-be.com:7047/DynamicsNAV/WS/TRH%20Liege/Codeunit/DatosEntreEmpresas" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>