ModelDataTRH/RepositoryWebServiceTRH/Service References/PedidoVentasContext/Pedidos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/pedidos" targetNamespace="urn:microsoft-dynamics-schemas/page/pedidos" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/pedidos" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Open" />
          <xsd:enumeration value="Released" />
          <xsd:enumeration value="Pending_Approval" />
          <xsd:enumeration value="Pending_Prepayment" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Tipo_Gestion_Transporte">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Logistica" />
          <xsd:enumeration value="Sus_medios" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="G_L_Account" />
          <xsd:enumeration value="Item" />
          <xsd:enumeration value="Resource" />
          <xsd:enumeration value="Fixed_Asset" />
          <xsd:enumeration value="Charge_Item" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Sales_Order_Subform_ws">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Document_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Type" type="tns:Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Variant_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VAT_Prod_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_of_Measure_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_of_Measure" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cantidad_PAQ" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cantidad_PAÑO" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cantidad_M2" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cantidad_KG" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Descuento" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Precio_Ud_Destino" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Precio_M2_Destino" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Precio_PANO_Destino" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Precio_TM_Destino" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PaquetesPendientesCargar" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Paquetes_Cargados" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Alias" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Precio_Patio_M2" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Precio_Patio_TM" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Precio_Patio_Pano" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PrecioLineaTotal" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PrecioLineaTotalPatio" type="xsd:decimal" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Sales_Order_Subform_ws_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Sales_Order_Subform_ws" type="tns:Sales_Order_Subform_ws" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Pedidos">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sell_to_Customer_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sell_to_Contact_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sell_to_Customer_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sell_to_Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sell_to_Address_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sell_to_City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Codigo_Cliente_Contacto" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Telefono_Cliente" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Fax_Cliente" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Email_Cliente" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VAT_Registration_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sell_to_Contact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No_of_Archived_Versions" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Order_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Document_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Requested_Delivery_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Promised_Delivery_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Numero_Incidencias" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Salesperson_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cod_Agrupacion_Pedido" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Eslingas" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Fecha_Revision_Precios" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="External_Document_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Address_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Post_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_County" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Contact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Country_Region_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipment_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Coste_Total_Transporte" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Euros_Tm_Porte" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tipo_Gestion_Transporte" type="tns:Tipo_Gestion_Transporte" />
          <xsd:element minOccurs="0" maxOccurs="1" name="N_x00BA__Camiones_Cal" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Telefono_Contacto" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Email_Contacto" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Movil_Contacto" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Fax_Contacto" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cargo_Contacto" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Comentarios" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Email_Envio" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Telefono_Envio" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Fax_Envio" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Doble_Descarga" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cod_Agencia_Transporte" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Camion_Grua" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cod_Pedido_Transporte" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Fecha_Carga_Requerida" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SalesLines" type="tns:Sales_Order_Subform_ws_List" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Pedidos_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Pedidos" type="tns:Pedidos" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Pedidos_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Sell_to_Customer_No" />
          <xsd:enumeration value="Sell_to_Contact_No" />
          <xsd:enumeration value="Sell_to_Customer_Name" />
          <xsd:enumeration value="Sell_to_Address" />
          <xsd:enumeration value="Sell_to_Address_2" />
          <xsd:enumeration value="Sell_to_City" />
          <xsd:enumeration value="Codigo_Cliente_Contacto" />
          <xsd:enumeration value="Telefono_Cliente" />
          <xsd:enumeration value="Fax_Cliente" />
          <xsd:enumeration value="Email_Cliente" />
          <xsd:enumeration value="VAT_Registration_No" />
          <xsd:enumeration value="Sell_to_Contact" />
          <xsd:enumeration value="No_of_Archived_Versions" />
          <xsd:enumeration value="Order_Date" />
          <xsd:enumeration value="Document_Date" />
          <xsd:enumeration value="Requested_Delivery_Date" />
          <xsd:enumeration value="Promised_Delivery_Date" />
          <xsd:enumeration value="Numero_Incidencias" />
          <xsd:enumeration value="Salesperson_Code" />
          <xsd:enumeration value="Cod_Agrupacion_Pedido" />
          <xsd:enumeration value="Status" />
          <xsd:enumeration value="Eslingas" />
          <xsd:enumeration value="Fecha_Revision_Precios" />
          <xsd:enumeration value="External_Document_No" />
          <xsd:enumeration value="Ship_to_Code" />
          <xsd:enumeration value="Ship_to_Name" />
          <xsd:enumeration value="Ship_to_Address" />
          <xsd:enumeration value="Ship_to_Address_2" />
          <xsd:enumeration value="Ship_to_Post_Code" />
          <xsd:enumeration value="Ship_to_City" />
          <xsd:enumeration value="Ship_to_County" />
          <xsd:enumeration value="Ship_to_Contact" />
          <xsd:enumeration value="Ship_to_Country_Region_Code" />
          <xsd:enumeration value="Location_Code" />
          <xsd:enumeration value="Shipment_Date" />
          <xsd:enumeration value="Coste_Total_Transporte" />
          <xsd:enumeration value="Euros_Tm_Porte" />
          <xsd:enumeration value="Tipo_Gestion_Transporte" />
          <xsd:enumeration value="N_x00BA__Camiones_Cal" />
          <xsd:enumeration value="Telefono_Contacto" />
          <xsd:enumeration value="Email_Contacto" />
          <xsd:enumeration value="Movil_Contacto" />
          <xsd:enumeration value="Fax_Contacto" />
          <xsd:enumeration value="Cargo_Contacto" />
          <xsd:enumeration value="Comentarios" />
          <xsd:enumeration value="Email_Envio" />
          <xsd:enumeration value="Telefono_Envio" />
          <xsd:enumeration value="Fax_Envio" />
          <xsd:enumeration value="Doble_Descarga" />
          <xsd:enumeration value="Cod_Agencia_Transporte" />
          <xsd:enumeration value="Camion_Grua" />
          <xsd:enumeration value="Cod_Pedido_Transporte" />
          <xsd:enumeration value="Fecha_Carga_Requerida" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Pedidos_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:Pedidos_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="No" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Pedidos" type="tns:Pedidos" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Pedidos" type="tns:Pedidos" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:Pedidos_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:Pedidos_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Pedidos" type="tns:Pedidos" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Pedidos" type="tns:Pedidos" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Pedidos_List" type="tns:Pedidos_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Pedidos_List" type="tns:Pedidos_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Pedidos" type="tns:Pedidos" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Pedidos" type="tns:Pedidos" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Pedidos_List" type="tns:Pedidos_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Pedidos_List" type="tns:Pedidos_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_SalesLines">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SalesLines_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_SalesLines_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_SalesLines_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <message name="Delete_SalesLines">
    <part name="parameters" element="tns:Delete_SalesLines" />
  </message>
  <message name="Delete_SalesLines_Result">
    <part name="parameters" element="tns:Delete_SalesLines_Result" />
  </message>
  <portType name="Pedidos_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
    <operation name="Delete_SalesLines">
      <input name="Delete_SalesLines" message="tns:Delete_SalesLines" />
      <output name="Delete_SalesLines_Result" message="tns:Delete_SalesLines_Result" />
    </operation>
  </portType>
  <binding name="Pedidos_Binding" type="tns:Pedidos_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/pedidos:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/pedidos:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/pedidos:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/pedidos:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/pedidos:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/pedidos:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/pedidos:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/pedidos:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/pedidos:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/pedidos:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_SalesLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/pedidos:Delete_SalesLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_SalesLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_SalesLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="Pedidos_Service">
    <port name="Pedidos_Port" binding="tns:Pedidos_Binding">
      <address location="http://intranet.trh-es.com:7047/DynamicsNAV/ws/T.R.H./Page/Pedidos" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>